{% extends 'layouts.html' %}

{% block body %}
<div class="jumbotron">
    <h3>Dashboard <br><small>Hi {{session.username}}</small></h3>
    <div class="row">
        <div class="col-xs-6 col-md-3">
          <p>Reports Received </p>  
        <div id="r1" style="height: 200px; 
                    width: 200px;
                    ">
            <h3 style="color: white;
            align-items: center;
            padding: 40%;">{{received}}</h3>
                
        </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <p>Reports shared </p>  

            <div id = "r2" style="height: 200px; 
                    width: 200px;
                    ">
                <h3 style="color: white;
                align-items: center;
                padding: 40%;">{{shared}}</h3>
            </div>
            
        </div>
    </div>
</div>
<script>
  var colors = ['#4d8896', '#4d9696', '#83b281', '#3a9a9e', '#286e9e', '#1f4d40'];
  var random_color = colors[Math.floor(Math.random() * colors.length)];
  document.getElementById('r1').style.backgroundColor = random_color;
</script>
<script>
  var colors = ['#4d9696', '#83b281', '#3a9a9e','#4d8896','#286e9e', '#1f4d40'];
  var random_color = colors[Math.floor(Math.random() * colors.length)];
  document.getElementById('r2').style.backgroundColor = random_color;
</script>
{% endblock %}